body {
    display: grid;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#container {
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.CountryList {
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
}

.CountryList th {
    background-color: #009FCC;
    padding: 10px;
    border: 1px solid #000;
    color: #fff;
}

.CountryList td {
    border: 1px solid #000;
    padding: 5px;
}

.SortCol {
    cursor: pointer;
}

.SortingIcon {
    mask-image: url(./Sorting.png);
}

/* #region 分頁 */

ul.Pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.Pagination li {
    display: inline;
}

ul.Pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.Pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.Pagination li a:hover:not(.active) {
    background-color: #ddd;
}

/* #endregion 分頁 */

.tdimage {
    width: 30px;
}

.tableDetail {
    text-align: left;
    border-collapse: collapse;
}

.tableDetail tr:hover {
    position: relative;
    /*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
    /* filter: drop-shadow(0px 0px 1px #E99605);
    -webkit-filter: drop-shadow(0px 0px 0px #E99605); */
    /* box-shadow:1px 1px 1px 1px #3f75bb; 
       border-radius: 1px ; 
      border:2px solid #97c1ffd8; */
    border: 2px solid #69a7f8;
    box-shadow: 1px 1px 1px 1px #3f75bb;
}

label {
    margin: auto auto 10px auto;
}

/* Modal */

.tdOpenModal {
    text-decoration: underline;
    cursor: pointer;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:0px) {
    .tdimage {
        width: 30px;
    }
}

@media screen and (min-width:768px) {
    .tdimage {
        width: 50px;
    }
}

@media screen and (min-width:1200px) {
    .tdimage {
        width: 120px;
    }
}